{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block body %}
<h1 class="text-center display-3">HASHBASH</h1>
<div class="container">
   <div class="display-5">Log in!</div>
   <sub>Don't have an account? <a href="/register">Register here</a></sub>
   <form action="/login" method="POST">
      {% for field in form 
         if field.widget.input_type != 'hidden' %}

         <p>
            {{field.label}}
            {{field(class_="form-control")}}

            {% for error in field.errors %}
            <p class="form-text text-danger">{{ error }}</p>
            
            {% endfor %}

         {% endfor %}
         <button class="btn btn-success" type="submit">Login</button>
   </form>
</div>
{% endblock %}
