{% extends 'base.html' %}

{% block title %}
Bashes
{% endblock %}

{% block body %}
<h1 class="text-center display-3">Bashes</h1>
<br><div class="container">
   <form action="/bashes" method="POST">
      {% for field in form 
         if field.widget.input_type != 'hidden' %}
   
         <p>
            {{field.label}}
            {{field(class_="form-control")}}
   
            {% for error in field.errors %}
            <p class="form-text text-danger">{{ error }}</p>
            {% endfor %}
   
         {% endfor %}
         <button class="btn btn-success" type="submit">BASH IT</button>
   </form>
</div>
<div class="container">
{% for tweet in tweets %}
<div class="card my-4">
   <div class="card-title">
      <b>{{tweet.user.username}}</b>
   </div>
   <div class="card-subtitle">1/23/2023</div>
   <div class="card-body" id="tweet">{{tweet.comment}}
   {% if session['user_id'] == tweet.user_id %}
   <form action="/tweets/{{tweet.id}}" method="POST">
      <button class="btn btn-danger btn-sm" id="delete"><i class="fa-sharp fa-solid fa-trash"></i></button>
   </form>
   {% endif %}</div></div>

{% endfor %}
</div>


{% endblock %}
